/* Heranças */
@import url(font.css);
@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/* Estilo principal */
.content, .wrap {margin: 0 auto; display: block;}
.wrap {padding: 0 20px;}
.header-infoglobo {background: #F96332; height: 64px; padding-top: 29px; font-size: 0px;}
.header-infoglobo ul li {display: inline-block; width: 20%; position: relative; z-index: 2;}
.header-infoglobo ul li a {display: block; color: #fff; font-size: 25px; width:25px; height: 25px;}
.header-infoglobo ul li:nth-child(1) a {margin-left: 12.8px;}
.header-infoglobo ul li:nth-child(2) a, .header-infoglobo ul li:nth-child(3) a, .header-infoglobo ul li:nth-child(4) a {margin: 0 auto 0 auto; }
.header-infoglobo ul li:nth-child(5) a {margin-right: 14px; margin-left: auto; }
.main-slider-infoglobo {position: relative; overflow: hidden; margin: 0 -20px; background: url("../imgs/ice.jpg") no-repeat 50% 50%; height: 325px; width: calc(100% + 40px); background-size: cover; }
.main-slider-infoglobo h2 {padding: 0 20px 22px 20px; position: absolute; bottom:0px; font-weight: 700; color: #fff; line-height: 26px; font-size: 18px; }
.main-slider-infoglobo-overlay {display: block; height: 130px; width: 100%; position: absolute; bottom: 0px; background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%); background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );}
.main-content-infoglobo .credits-infoglobo {clear: both;padding: 26px 0;}
.main-content-infoglobo .credits-infoglobo li {display: inline-block; margin-right: 15px; }
.main-content-infoglobo .credits-infoglobo li a {font-size: 10px; color: #000;}
.main-content-infoglobo .credits-infoglobo li a span {font-size: 25px; position: relative; top: 5px; margin-right: 2px; }
.main-content-infoglobo .credits-infoglobo li:nth-child(3) {margin-right: 0px; float: right; position: relative; font-size: 9px; top: 15px;}
.main-content-infoglobo .credits-infoglobo li:nth-child(3):after {width: 100%; display: block; content: " "; bottom: -6px; height: 1px; background: #000; position: absolute;}
.image-overlay-infoglobo {margin-bottom: 35px; position: relative; }
.image-overlay-infoglobo img {width: 63%; box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);}
.image-overlay-infoglobo img:nth-child(1) {right: 0px; z-index: 2; position: absolute;}
.image-overlay-infoglobo img:nth-child(2) {margin-top: 16%;}
.main-content-infoglobo p {font-size: 13px; color: #1D1D26; line-height: 26px; padding-bottom: 35px;}
.main-content-infoglobo blockquote {font-size: 14px; line-height: 22px; padding-left: 25px; color: #F96332; border-left: 2px solid #F96332; margin-bottom: 25px; }
.main-content-infoglobo blockquote small {display: block; font-size: 10px; margin-top: 12px; line-height: 10px;}
.main-content-infoglobo h3 {font-size: 14px; line-height: 24px; color: #1D1D26; font-weight: 700; margin-bottom: 28px;}
.main-content-infoglobo .video-infoglobo {background: url("../imgs/forest.jpg") no-repeat 50% 50%; height: 250px; background-size: cover; margin: 0 -20px; width: calc(100% + 40px); overflow: hidden; margin-bottom: 26px;  }
.main-content-infoglobo .video-infoglobo a {width: 50px; height: 50px; display: block; background: #F96332; text-indent: -9999px; border-radius: 100px; margin: 100px auto 0 auto ; position: relative; box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2); }
.main-content-infoglobo .video-infoglobo a:after {display: block; content: " "; position: absolute; width: 0;height: 0;border-style: solid;border-width: 6.5px 0 6.5px 10px;border-color: transparent transparent transparent #fff; top: 50%; left: 50%; margin: -7px 0 0 -5px;}
.carousel-infoglobo {min-height: 400px; margin: 0 -20px; overflow: hidden;position: relative; padding-top: 20px;}
.carousel-infoglobo ul.list-images li a img, .carousel-infoglobo ul.list-images li {display: block;}
.carousel-infoglobo ul.list-images li a img {transition: all 0.3s ease; width: 200px; height: 166px; top: 62px; position: absolute; z-index: 1;     box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);}
.carousel-infoglobo ul.list-images li a h4, .carousel-infoglobo ul.list-images li a h5 {display: none; text-align: center;}
.carousel-infoglobo ul.list-images li.prev a img {left: -20px;}
.carousel-infoglobo ul.list-images li.next a img {right: -20px;}
.carousel-infoglobo ul.list-images li.active a img {width: 300px; height: 250px; top: 0px; margin: 0 auto; position: relative; z-index: 2;}
.carousel-infoglobo ul.list-images li.inactive a img {width: 1px; height: 1px;}
.carousel-infoglobo ul.list-images li.active a h4, .carousel-infoglobo ul.list-images li.active a h5 {display: block;}
.carousel-infoglobo ul.list-images li a h4 {font-size: 13px; margin: 30px 0 10px 0; font-weight: 700; color: #000;}
.carousel-infoglobo ul.list-images li a h5 {font-size: 9px; color: rgba(0,0,0,0.4);}
.carousel-infoglobo .bullet {text-align: center; margin: 40px 0 50px 0;}
.carousel-infoglobo .bullet li {display: inline-block; margin: 0 3px;}
.carousel-infoglobo .bullet li a {overflow: hidden; display: block; text-indent: -9999px; width: 7px; height: 7px; background: rgba(0, 0, 0, 0.2) ; border-radius: 100px;}
.carousel-infoglobo .bullet li.active a {background: #F96332 ;}
.carousel-infoglobo .list-images {min-height: 320px;}
.footer-infoglobo {background: rgba(0, 0, 0, 0.05); text-align: center;}
.footer-infoglobo h3 {font-size: 9px; color: rgba(0, 0, 0, 0.4); font-weight: 700; padding: 60px 0 28px 0;}
.footer-infoglobo h4 {font-size: 18px; color: #000; font-weight: 700; line-height: 26px; }
.footer-infoglobo .footer-infoglobo-next { font-size: 25px; color: #F96332; padding: 32px 0 60px 0; display: block; }
@media (min-width:767px){
	.wrap {padding: 0 40px;}
	.header-infoglobo ul li {width: 25px; margin: 0 15px;}
	.header-infoglobo ul li:nth-child(1) {margin-left: 0px;}
	.header-infoglobo ul li:nth-child(9) {margin-right: 0px;}
	.header-infoglobo ul li:nth-child(8) {width:  calc(100% - 400px);}
	.header-infoglobo ul li:nth-child(8) a { margin: 0 auto; background: url("../imgs/logo.svg") no-repeat 50% 0px; text-indent: -99999999px; display: block; width: auto; overflow: hidden; }
	.header-infoglobo ul li:nth-child(11) img {border-radius: 100px;}
	.main-slider-infoglobo { margin: 0 -40px; width: calc(100% + 80px); height: 430px;}
	.main-slider-infoglobo h2 {padding: 0 40px 31px 40px;line-height: 46px; font-size: 36px;}
	.main-slider-infoglobo-overlay {height: 260px;}
	.main-content-infoglobo p {font-size: 13px; line-height: 28px;padding-bottom: 56px;}
	.main-content-infoglobo p.intro {font-size: 15px; line-height: 30px;padding-bottom: 45px;}
	.overlay-blockquote-infoglobo {position: relative;}
	.image-overlay-infoglobo img:nth-child(1) {width: 570px; margin: 280px auto 45px auto; height: 340px; position: relative; z-index: 2; display: block;}
	.image-overlay-infoglobo img:nth-child(2) {margin-top: 0px; width: 390px; height: 320px; position: absolute; z-index: 1; left: 0px; top: -270px;}
	.main-content-infoglobo blockquote {position: absolute; top: 30px; right: 0px; width: 50%; border: 4px solid #F96332; padding: 60px 40px 60px 60px; z-index: 3;font-size: 14px; line-height: 26px; top: -230px;}
	.main-content-infoglobo blockquote small {font-weight: 700; font-size: 14px;}
	.main-content-infoglobo h3 {font-size: 26px; line-height: 40px;}
	.main-content-infoglobo .video-infoglobo {width: calc(100% + 80px); margin: 0 -40px; height: 450px; margin-bottom: 44px;}
	.main-content-infoglobo .video-infoglobo a {width: 80px; height: 80px; margin-top: 190px;}
	.main-content-infoglobo .video-infoglobo a:after {border-width: 9px 0 9px 16px;}
	.carousel-infoglobo {margin: 0 -40px;}
	.carousel-infoglobo ul.list-images li a img {width: 400px; height: 300px;top: 90px;}
	.carousel-infoglobo ul.list-images li.active a img {width: 600px; height: 450px;}
	.carousel-infoglobo ul.list-images li.prev a img {left: -40px;}
	.carousel-infoglobo ul.list-images li.next a img {right: -40px;}
	.carousel-infoglobo ul.list-images li a h4 {font-size: 14px;}
	.carousel-infoglobo ul.list-images li a h5 {font-size: 11px;}
	.carousel-infoglobo .list-images {min-height: 515px;}
	.footer-infoglobo h4 {display: none;}
	.footer-infoglobo h3 {display: inline-block; font-size: 11px; padding: 45px 0; font-weight: 700;}
	.footer-infoglobo .footer-infoglobo-next {display: inline-block; padding: 0px; margin-left: 20px; position: relative; top: 5px;}
}

@media (min-width:940px){
	.wrap {padding: 0px;}
	.content {width: 940px; margin: 0 auto;}
	.header-infoglobo {height: 60px; padding-top: 19px;}
	.header-infoglobo ul li:nth-child(6) {margin: 0px; }
	.header-infoglobo ul li:nth-child(7) {width: auto; vertical-align: top; height: 20px;}
	.header-infoglobo ul li:nth-child(7) a {width: 34px; font-size: 10px; position: relative; top: 7px; text-transform: uppercase; font-weight: 700; margin: 0 0 0 50px;}
	.header-infoglobo ul li:nth-child(8) { width: calc(100% - 360px);}
	.header-infoglobo ul li:last-child {margin-right: 0px; }
	.main-slider-infoglobo {width: 100%; margin: 0; height: 600px;}
	.main-content-infoglobo .video-infoglobo {width: 100%; margin: 0;}
	.main-slider-infoglobo h2 { padding: 0 0 60px 0; width: 770px; display: inline-block; font-size: 46px; line-height: 56px;}
	.slide-link-infoglobo {width: 175px; position: relative; top: 500px; left: 780px;}
	.slide-link-infoglobo li {display: inline-block;}
	.slide-link-infoglobo li a {padding: 8px 10px ; font-size: 20px; color: #fff; background: #F96332 ; border-radius: 100px; margin-left:10px; }
	.main-infoglobo {overflow: hidden;}
	.main-content-infoglobo .credits-infoglobo {padding: 56px 0;}
	.main-content-infoglobo p {font-size: 14px; line-height: 32px; position: relative; padding-bottom: 152px; }
	.main-content-infoglobo p.intro {font-size: 20px; line-height: 40px; padding-bottom: 152px; width: auto;}
	.main-content-infoglobo .break-title {width: 460px; position: relative; margin-left: 480px;}
	.main-content-infoglobo .break-title p:nth-child(2) {padding-bottom: 30px;}
	.main-content-infoglobo .break-title .video-infoglobo {position: absolute;width: 610px; height: 500px; right: 0; margin-right: 560px; top: 182px; box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);}
	.main-content-infoglobo p.intro:after, .main-content-infoglobo .break-title p:last-child:after {content: " "; display: block; position: absolute; width: 20px; height: 2px; background: #F96332; bottom: 80px; left: 50%; margin-left: -10px;}
	.main-content-infoglobo .break-title p:last-child:after {left: -20px;}
	.image-overlay-infoglobo {height: 767px;}
	.image-overlay-infoglobo img:nth-child(1), .image-overlay-infoglobo img:nth-child(2), .main-content-infoglobo blockquote {margin: 0px; position: absolute;}
	.image-overlay-infoglobo img:nth-child(1), .image-overlay-infoglobo img:nth-child(2) {width: 790px; height: 500px; top: 0px; }
	.main-content-infoglobo blockquote {z-index: 3;width: 430px; height: 370px; top: 450px; left: 0px;padding-top: 80px;padding-right: 80px; font-size: 18px; line-height: 2;}
	.main-content-infoglobo blockquote small {margin-top: 40px; font-size: 20px;}
	.image-overlay-infoglobo img:nth-child(1) {z-index: 1; top: 157px; right: -220px;}
	.image-overlay-infoglobo img:nth-child(2) {z-index: 2; left: -220px;}
	.image-overlay-infoglobo {margin-bottom: 0px;}
	.main-content-infoglobo .video-infoglobo a {margin-top: 230px;}
	.main-content-infoglobo h3 {font-size: 30px; line-height: 44px; margin-bottom: 40px;}
	.footer-lg-infoglobo {text-align: left; padding: 43px 0;}
	.footer-lg-infoglobo li {display: inline-block; margin: 0 20px;}
	.footer-lg-infoglobo li:first-child {margin-left: 0px;}
	.footer-lg-infoglobo li:last-child {margin-right: 0px;}
	.footer-lg-infoglobo li:nth-child(3) {margin-right: 310px;}
	.footer-lg-infoglobo li:last-child {margin-left: 50px;}
	.footer-lg-infoglobo li:nth-child(4), .footer-lg-infoglobo li:nth-child(5), .footer-lg-infoglobo li:nth-child(6) {margin: 0 10px; position: relative; top: 5px;}
	.footer-lg-infoglobo li a {color: #000; font-size: 10px; font-weight: 700; color: rgba(0, 0, 0, 0.3); height: 20px; }
	.footer-lg-infoglobo li:last-child a {font-weight: normal;}
	.footer-lg-infoglobo li:nth-child(4) a, .footer-lg-infoglobo li:nth-child(5) a, .footer-lg-infoglobo li:nth-child(6) a {font-size: 20px;}
	.carousel-infoglobo {margin: 0;overflow: visible;}
	.carousel-infoglobo ul.list-images li a img {width: 500px; height: 320px;top: 90px;}
	.carousel-infoglobo ul.list-images li.active a img {width: 780px; height: 500px;}
	.carousel-infoglobo ul.list-images li.prev a img {left: -140px;}
	.carousel-infoglobo ul.list-images li.next a img {right: -140px;}
	.carousel-infoglobo ul.list-images li a h4 {font-size: 24px;}
	.carousel-infoglobo ul.list-images li a h5 {font-size: 13px;}
	.carousel-infoglobo .controller {position: absolute; z-index: 5; bottom: 120px; width: 100%; }
	.carousel-infoglobo .controller span {color: #F96332; font-size: 25px;}
	.carousel-infoglobo .controller .next {float: right;}
	.carousel-infoglobo .list-images {min-height: 580px;}
	.comments-infoglobo {margin: 100px 0; }
	.comments-infoglobo .comment-title-infoglobo {background: #F96332; padding: 75px 0;}
	.comments-infoglobo .comment-title-infoglobo h3 {display: inline-block; font-weight: 700; color: #fff; font-size: 40px; }
	.comments-infoglobo .comment-title-infoglobo ul, .comments-infoglobo .comment-title-infoglobo ul li {display: inline-block;}
	.comments-infoglobo .comment-title-infoglobo ul {position: relative; top: 10px;    float: right;}
	.comments-infoglobo .comment-title-infoglobo ul li {margin-right: 10px; }
	.comments-infoglobo .comment-title-infoglobo ul li a {color: #fff; padding: 11px 37px; border-radius: 100px;border: 1px solid transparent; font-size: 11px;}
	.comments-infoglobo .comment-title-infoglobo ul li.active a {border: 1px solid #fff;}
	.comments-infoglobo .list-comment-infoglobo  li {display: block; padding: 40px 0; border-bottom: 1px solid rgba(0, 0, 0, 0.05);}
	.comments-infoglobo .list-comment-infoglobo .info-post-infoglobo {font-size: 10px; font-weight: 700; float: right;position: relative; top: -35px; color: rgba(0, 0, 0, 0.5);}
	.comments-infoglobo .list-comment-infoglobo .info-post-infoglobo span {font-size: 25px; position: relative; top: 7px; }
	.comments-infoglobo .list-comment-infoglobo p, .comments-infoglobo .list-comment-infoglobo h4 {font-size: 14px; line-height: 24px;}
	.comments-infoglobo .list-comment-infoglobo h4 {margin-bottom: 12px; font-weight: 700; line-height: 14px;}
	.comments-infoglobo .list-comment-infoglobo h5 {text-align: center; padding: 60px 0 70px 0; color: rgba(0, 0, 0, 0.2); font-size: 12px;}
	.comments-infoglobo .list-comment-infoglobo  li img, .comments-infoglobo .list-comment-infoglobo .form-comment-infoglobo img {width: 55px; height: 55px; border-radius: 100px; float: left; margin-right: 35px;}
	.comments-infoglobo .list-comment-infoglobo .attachment-submit {clear: both; overflow:hidden;}
	.comments-infoglobo .list-comment-infoglobo .attachment-submit {padding: 12px 46px 18px 46px ; border-radius: 100px; background: #F96332; color: #fff; font-size: 13px; float: right;  position: relative; top: -55px; line-height: 13px;}
	.comments-infoglobo .list-comment-infoglobo .attachment-submit span {font-size: 25px; position: relative; top: 5px; margin-right: 11px;}
	.comments-infoglobo .list-comment-infoglobo .form-comment-infoglobo {position: relative;}
	.comments-infoglobo .list-comment-infoglobo .form-comment-infoglobo textarea {outline: none; resize: none; font-family: 'Montserrat', sans-serif; font-size: 14px; width: 640px; height: 55px; border-radius: 100px; border: 1px solid #F96332; padding: 17px 0 17px 60px;}
	.icon-Attachment {position: absolute; top: 15px; left: 110px; font-size: 25px; color: rgba(0, 0, 0, 0.5); }
}